/* Estilo base do Toast */
.toast {
  visibility: hidden; /* Começa invisível */
  width: 500px;
  background-color: #333; /* Fundo escuro */
  color: #fff; /* Texto branco */
  text-align: center;
  border-radius: 8px; /* Bordas arredondadas */
  padding: 16px;
  position: fixed; /* Fica fixo na tela */
  z-index: 1; /* Garante que fique acima de tudo */
  left: 50%; /* Centraliza horizontalmente */
  bottom: 30px; /* Distância do rodapé */
  transform: translateX(-50%); /* Ajuste fino da centralização */
  font-size: 17px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Sombra suave */
}

/* Classe para quando ele estiver ATIVO (Visível) */
.toast.show {
  visibility: visible;
  /* Animação de entrada */
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animação de Aparecer (Fade In + Subir um pouquinho) */
@keyframes fadein {
  from {
    bottom: 0;
    width: 250px;
    opacity: 0;
  }
  to {
    bottom: 30px;
    width: 500px;
    opacity: 1;
  }
}

/* Animação de Desaparecer (Fade Out + Descer) */
@keyframes fadeout {
  from {
    bottom: 30px;
    width: 500px;
    opacity: 1;
  }
  to {
    bottom: 0;
    width: 250px;
    opacity: 0;
  }
}
